# backend/.env.example
# Copia este archivo como .env y rellena los valores reales.
# El archivo .env NUNCA se sube al repositorio.
# En producción, estos valores vienen de AWS Secrets Manager.

MONGO_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.xxxxx.mongodb.net/miAppDB
JWT_SECRET=cambia-esto-por-64-caracteres-aleatorios-minimo
MQTT_HOST=tu-broker.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=tu_usuario
MQTT_PASSWORD=tu_password
NODE_ENV=development
PORT=5000
